<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySql" connectionString="Data Source=localhost;port=3306;Initial Catalog=AutoServiceSys;user id=root;password=123@qwe;Min Pool Size=1;Max Pool Size=10;Pooling = True;SslMode=none;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LogRoot" value="D:\Source\Homespaces\LoanSys\Cp.Web\ConsoleApp\bin\Debug\LogMessage"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>