
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-body">
    <div class="route">
        <h3 class="">首页</h3>
        <span>当前位置：<a href="">首页</a></span>
    </div>
    <div class="content-body">
        <div class="body-left">
            <div class="row">
                <div class="col-md-6">
                    <div class="box-item">
                        <h4 class="title">CRM会员</h4>
                        <div class="box-content">
                            <table class="table table-striped ">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>会员总数</th>
                                        <th>VIP会员人数</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>1000</td>
                                        <td>200</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a class="more" href="">展开>></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-item">
                        <h4 class="title">CRS预订</h4>
                        <div class="box-content">
                            <div class="row">
                                <div class="info-left">
                                    <a class="icon"><i class="fa fa-cubes"></i></a>
                                    <div class="count-text">
                                        <span>预订人数：</span>
                                    </div>

                                </div>
                                <div class="info-right">
                                    <a class="count-num">48</a>
                                </div>
                            </div>

                            <a class="more" href="">展开>></a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="box-item">
                        <h4 class="title">PMS前台</h4>
                        <div class="box-content">
                            <div class="box-bg">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-8"></div>
                                </div>

                            </div>
                            <a class="more" href="">展开>></a>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-item">
                        <h4 class="title">CMS酒店网站管理</h4>
                        <div class="box-content">
                            <a class="more" href="">展开>></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-right">
            <div class="box-item">
                <ul class="tabs">
                    <li class="active">
                        <a href="">全部</a>
                    </li>
                    <li>
                        <a href="">全部</a>
                    </li>
                    <li>
                        <a href="">全部</a>
                    </li>
                </ul>
                <div class="tab-content"></div>
            </div>
        </div>
        <div class="clearfix">

        </div>
    </div>
</div>

